In [4]:
import os 
print (os.getcwd()) 
  

import pandas as pd 
lab01_data = pd.read_csv("lab01_subway2013.csv",encoding="utf-8")
print(lab01_data.head() )

D:\leeji\PycharmProjects\Python_02_Advanced\01_pandas
D:\leeji\PycharmProjects\Python_02_Advanced\01_pandas
   순번         역명      평일     토요일     일요일
0   1        신도림  333873  298987  216886
1   2  동대문역사문화공원  251049  211456  150589
2   3        충무로  229882  194865  142150
3   4       종로3가  224539  196606  142525
4   5         사당  200985  180230  134354

In [6]:
lab01_data.index

RangeIndex(start=0, stop=44, step=1)

In [8]:
lab01_data.columns

Index(['순번', '역명', '평일', '토요일', '일요일'], dtype='object')

In [9]:
lab01_data.sort_values(by="평일",ascending=True)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>순번</th>
      <th>역명</th>
      <th>평일</th>
      <th>토요일</th>
      <th>일요일</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>43</th>
      <td>44</td>
      <td>이촌</td>
      <td>12802</td>
      <td>46939</td>
      <td>10681</td>
    </tr>
    <tr>
      <th>42</th>
      <td>43</td>
      <td>옥수</td>
      <td>14882</td>
      <td>12755</td>
      <td>10099</td>
    </tr>
    <tr>
      <th>41</th>
      <td>42</td>
      <td>불광</td>
      <td>18249</td>
      <td>15840</td>
      <td>14222</td>
    </tr>
    <tr>
      <th>40</th>
      <td>41</td>
      <td>청량리</td>
      <td>21073</td>
      <td>55058</td>
      <td>18905</td>
    </tr>
    <tr>
      <th>39</th>
      <td>40</td>
      <td>신설동</td>
      <td>22077</td>
      <td>18994</td>
      <td>13999</td>
    </tr>
    <tr>
      <th>38</th>
      <td>39</td>
      <td>도곡</td>
      <td>23394</td>
      <td>18192</td>
      <td>11998</td>
    </tr>
    <tr>
      <th>37</th>
      <td>38</td>
      <td>성수</td>
      <td>26896</td>
      <td>20748</td>
      <td>15317</td>
    </tr>
    <tr>
      <th>36</th>
      <td>37</td>
      <td>오금</td>
      <td>30618</td>
      <td>21748</td>
      <td>14396</td>
    </tr>
    <tr>
      <th>35</th>
      <td>36</td>
      <td>충정로</td>
      <td>34351</td>
      <td>23565</td>
      <td>16728</td>
    </tr>
    <tr>
      <th>34</th>
      <td>35</td>
      <td>수서</td>
      <td>36173</td>
      <td>26721</td>
      <td>19056</td>
    </tr>
    <tr>
      <th>33</th>
      <td>34</td>
      <td>양재</td>
      <td>37648</td>
      <td>31230</td>
      <td>19572</td>
    </tr>
    <tr>
      <th>32</th>
      <td>33</td>
      <td>연신내</td>
      <td>39078</td>
      <td>33218</td>
      <td>26982</td>
    </tr>
    <tr>
      <th>31</th>
      <td>32</td>
      <td>가락시장</td>
      <td>39719</td>
      <td>28468</td>
      <td>21403</td>
    </tr>
    <tr>
      <th>30</th>
      <td>31</td>
      <td>동작</td>
      <td>39895</td>
      <td>30998</td>
      <td>22681</td>
    </tr>
    <tr>
      <th>29</th>
      <td>30</td>
      <td>홍대입구</td>
      <td>41803</td>
      <td>35231</td>
      <td>28684</td>
    </tr>
    <tr>
      <th>28</th>
      <td>29</td>
      <td>노원</td>
      <td>42565</td>
      <td>37975</td>
      <td>28851</td>
    </tr>
    <tr>
      <th>27</th>
      <td>28</td>
      <td>을지4가</td>
      <td>45592</td>
      <td>36206</td>
      <td>25499</td>
    </tr>
    <tr>
      <th>26</th>
      <td>27</td>
      <td>신당</td>
      <td>47441</td>
      <td>39928</td>
      <td>28039</td>
    </tr>
    <tr>
      <th>25</th>
      <td>26</td>
      <td>까치산</td>
      <td>53969</td>
      <td>43371</td>
      <td>31865</td>
    </tr>
    <tr>
      <th>24</th>
      <td>25</td>
      <td>강남</td>
      <td>54272</td>
      <td>38270</td>
      <td>24352</td>
    </tr>
    <tr>
      <th>23</th>
      <td>24</td>
      <td>약수</td>
      <td>61013</td>
      <td>49823</td>
      <td>35554</td>
    </tr>
    <tr>
      <th>22</th>
      <td>23</td>
      <td>동묘</td>
      <td>61530</td>
      <td>52958</td>
      <td>41665</td>
    </tr>
    <tr>
      <th>21</th>
      <td>22</td>
      <td>창동</td>
      <td>68732</td>
      <td>57350</td>
      <td>49183</td>
    </tr>
    <tr>
      <th>20</th>
      <td>21</td>
      <td>삼각지</td>
      <td>70858</td>
      <td>64159</td>
      <td>46470</td>
    </tr>
    <tr>
      <th>19</th>
      <td>20</td>
      <td>영등포구청</td>
      <td>71838</td>
      <td>55991</td>
      <td>37574</td>
    </tr>
    <tr>
      <th>18</th>
      <td>19</td>
      <td>당산</td>
      <td>73319</td>
      <td>55693</td>
      <td>40713</td>
    </tr>
    <tr>
      <th>17</th>
      <td>18</td>
      <td>이수</td>
      <td>74713</td>
      <td>67033</td>
      <td>48136</td>
    </tr>
    <tr>
      <th>16</th>
      <td>17</td>
      <td>동대문</td>
      <td>86907</td>
      <td>82370</td>
      <td>58310</td>
    </tr>
    <tr>
      <th>15</th>
      <td>16</td>
      <td>건대입구</td>
      <td>91046</td>
      <td>83788</td>
      <td>61085</td>
    </tr>
    <tr>
      <th>14</th>
      <td>15</td>
      <td>왕십리</td>
      <td>92386</td>
      <td>77144</td>
      <td>57027</td>
    </tr>
    <tr>
      <th>13</th>
      <td>14</td>
      <td>을지3가</td>
      <td>102428</td>
      <td>84096</td>
      <td>62281</td>
    </tr>
    <tr>
      <th>12</th>
      <td>13</td>
      <td>대림</td>
      <td>106577</td>
      <td>85098</td>
      <td>64075</td>
    </tr>
    <tr>
      <th>11</th>
      <td>12</td>
      <td>합정</td>
      <td>115604</td>
      <td>96976</td>
      <td>69333</td>
    </tr>
    <tr>
      <th>10</th>
      <td>11</td>
      <td>잠실</td>
      <td>119826</td>
      <td>94103</td>
      <td>69450</td>
    </tr>
    <tr>
      <th>9</th>
      <td>10</td>
      <td>시청</td>
      <td>120866</td>
      <td>104257</td>
      <td>78903</td>
    </tr>
    <tr>
      <th>8</th>
      <td>9</td>
      <td>서울역</td>
      <td>141488</td>
      <td>138754</td>
      <td>108232</td>
    </tr>
    <tr>
      <th>7</th>
      <td>8</td>
      <td>선릉</td>
      <td>175262</td>
      <td>132869</td>
      <td>87621</td>
    </tr>
    <tr>
      <th>6</th>
      <td>7</td>
      <td>교대</td>
      <td>182104</td>
      <td>154046</td>
      <td>98136</td>
    </tr>
    <tr>
      <th>5</th>
      <td>6</td>
      <td>고속터미널</td>
      <td>194859</td>
      <td>175702</td>
      <td>120096</td>
    </tr>
    <tr>
      <th>4</th>
      <td>5</td>
      <td>사당</td>
      <td>200985</td>
      <td>180230</td>
      <td>134354</td>
    </tr>
    <tr>
      <th>3</th>
      <td>4</td>
      <td>종로3가</td>
      <td>224539</td>
      <td>196606</td>
      <td>142525</td>
    </tr>
    <tr>
      <th>2</th>
      <td>3</td>
      <td>충무로</td>
      <td>229882</td>
      <td>194865</td>
      <td>142150</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2</td>
      <td>동대문역사문화공원</td>
      <td>251049</td>
      <td>211456</td>
      <td>150589</td>
    </tr>
    <tr>
      <th>0</th>
      <td>1</td>
      <td>신도림</td>
      <td>333873</td>
      <td>298987</td>
      <td>216886</td>
    </tr>
  </tbody>
</table>
</div>

In [11]:
#토요일 환승 인원이 100000명 이상의 역의 역명과 다른 요일 환승인원 출력
print ( lab01_data[ lab01_data["토요일"]>100000])

   순번         역명      평일     토요일     일요일
0   1        신도림  333873  298987  216886
1   2  동대문역사문화공원  251049  211456  150589
2   3        충무로  229882  194865  142150
3   4       종로3가  224539  196606  142525
4   5         사당  200985  180230  134354
5   6      고속터미널  194859  175702  120096
6   7         교대  182104  154046   98136
7   8         선릉  175262  132869   87621
8   9        서울역  141488  138754  108232
9  10         시청  120866  104257   78903

In [16]:
#일요일 환승 인원만 역명과 함께 출력 
lab01_data.loc [  : , ["역명","일요일"]]

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>역명</th>
      <th>일요일</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>신도림</td>
      <td>216886</td>
    </tr>
    <tr>
      <th>1</th>
      <td>동대문역사문화공원</td>
      <td>150589</td>
    </tr>
    <tr>
      <th>2</th>
      <td>충무로</td>
      <td>142150</td>
    </tr>
    <tr>
      <th>3</th>
      <td>종로3가</td>
      <td>142525</td>
    </tr>
    <tr>
      <th>4</th>
      <td>사당</td>
      <td>134354</td>
    </tr>
    <tr>
      <th>5</th>
      <td>고속터미널</td>
      <td>120096</td>
    </tr>
    <tr>
      <th>6</th>
      <td>교대</td>
      <td>98136</td>
    </tr>
    <tr>
      <th>7</th>
      <td>선릉</td>
      <td>87621</td>
    </tr>
    <tr>
      <th>8</th>
      <td>서울역</td>
      <td>108232</td>
    </tr>
    <tr>
      <th>9</th>
      <td>시청</td>
      <td>78903</td>
    </tr>
    <tr>
      <th>10</th>
      <td>잠실</td>
      <td>69450</td>
    </tr>
    <tr>
      <th>11</th>
      <td>합정</td>
      <td>69333</td>
    </tr>
    <tr>
      <th>12</th>
      <td>대림</td>
      <td>64075</td>
    </tr>
    <tr>
      <th>13</th>
      <td>을지3가</td>
      <td>62281</td>
    </tr>
    <tr>
      <th>14</th>
      <td>왕십리</td>
      <td>57027</td>
    </tr>
    <tr>
      <th>15</th>
      <td>건대입구</td>
      <td>61085</td>
    </tr>
    <tr>
      <th>16</th>
      <td>동대문</td>
      <td>58310</td>
    </tr>
    <tr>
      <th>17</th>
      <td>이수</td>
      <td>48136</td>
    </tr>
    <tr>
      <th>18</th>
      <td>당산</td>
      <td>40713</td>
    </tr>
    <tr>
      <th>19</th>
      <td>영등포구청</td>
      <td>37574</td>
    </tr>
    <tr>
      <th>20</th>
      <td>삼각지</td>
      <td>46470</td>
    </tr>
    <tr>
      <th>21</th>
      <td>창동</td>
      <td>49183</td>
    </tr>
    <tr>
      <th>22</th>
      <td>동묘</td>
      <td>41665</td>
    </tr>
    <tr>
      <th>23</th>
      <td>약수</td>
      <td>35554</td>
    </tr>
    <tr>
      <th>24</th>
      <td>강남</td>
      <td>24352</td>
    </tr>
    <tr>
      <th>25</th>
      <td>까치산</td>
      <td>31865</td>
    </tr>
    <tr>
      <th>26</th>
      <td>신당</td>
      <td>28039</td>
    </tr>
    <tr>
      <th>27</th>
      <td>을지4가</td>
      <td>25499</td>
    </tr>
    <tr>
      <th>28</th>
      <td>노원</td>
      <td>28851</td>
    </tr>
    <tr>
      <th>29</th>
      <td>홍대입구</td>
      <td>28684</td>
    </tr>
    <tr>
      <th>30</th>
      <td>동작</td>
      <td>22681</td>
    </tr>
    <tr>
      <th>31</th>
      <td>가락시장</td>
      <td>21403</td>
    </tr>
    <tr>
      <th>32</th>
      <td>연신내</td>
      <td>26982</td>
    </tr>
    <tr>
      <th>33</th>
      <td>양재</td>
      <td>19572</td>
    </tr>
    <tr>
      <th>34</th>
      <td>수서</td>
      <td>19056</td>
    </tr>
    <tr>
      <th>35</th>
      <td>충정로</td>
      <td>16728</td>
    </tr>
    <tr>
      <th>36</th>
      <td>오금</td>
      <td>14396</td>
    </tr>
    <tr>
      <th>37</th>
      <td>성수</td>
      <td>15317</td>
    </tr>
    <tr>
      <th>38</th>
      <td>도곡</td>
      <td>11998</td>
    </tr>
    <tr>
      <th>39</th>
      <td>신설동</td>
      <td>13999</td>
    </tr>
    <tr>
      <th>40</th>
      <td>청량리</td>
      <td>18905</td>
    </tr>
    <tr>
      <th>41</th>
      <td>불광</td>
      <td>14222</td>
    </tr>
    <tr>
      <th>42</th>
      <td>옥수</td>
      <td>10099</td>
    </tr>
    <tr>
      <th>43</th>
      <td>이촌</td>
      <td>10681</td>
    </tr>
  </tbody>
</table>
</div>

In [17]:
#11~20번째 행의  일요일 환승 인원만 역명과 함께 출력 
lab01_data.loc [ 11:21 , ["역명","일요일"]]

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>역명</th>
      <th>일요일</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>11</th>
      <td>합정</td>
      <td>69333</td>
    </tr>
    <tr>
      <th>12</th>
      <td>대림</td>
      <td>64075</td>
    </tr>
    <tr>
      <th>13</th>
      <td>을지3가</td>
      <td>62281</td>
    </tr>
    <tr>
      <th>14</th>
      <td>왕십리</td>
      <td>57027</td>
    </tr>
    <tr>
      <th>15</th>
      <td>건대입구</td>
      <td>61085</td>
    </tr>
    <tr>
      <th>16</th>
      <td>동대문</td>
      <td>58310</td>
    </tr>
    <tr>
      <th>17</th>
      <td>이수</td>
      <td>48136</td>
    </tr>
    <tr>
      <th>18</th>
      <td>당산</td>
      <td>40713</td>
    </tr>
    <tr>
      <th>19</th>
      <td>영등포구청</td>
      <td>37574</td>
    </tr>
    <tr>
      <th>20</th>
      <td>삼각지</td>
      <td>46470</td>
    </tr>
    <tr>
      <th>21</th>
      <td>창동</td>
      <td>49183</td>
    </tr>
  </tbody>
</table>
</div>

In [ ]:
lab01_data["역명"].unique()   #역명만 출력.  단 중복해서 출력하지는 말 것.